// 公共的变量
$jjy-blue: blue;

//媒体查询上边界值
//最大的width
$xsW: 1024px;
$smW: 1366px;
$mdW: 1440px;
$lgW: 1920px;

//最大的height
$xsH: 700px;
$smH: 768px;
$mdH: 900px;
$lgH: 1080px;



$xsW-1: $xsW;
$smW-1: $smW;
$mdW-1: $mdW;
$lgW-1: $lgW;

//最大的height
$xsH-1: $xsH;
$smH-1: $smH;
$mdH-1: $mdH;
$lgH-1: $lgH;
